html {
  box-sizing:border-box;
  line-height: 1.5;
  background-color: #f0eee8;
  font-family: Georgia, serif;
}

.link-card h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
}

.link-card {
  background-color: #dcd4cd;
  color: #512200;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn {
  background-color: #785439;
}

.btn:hover {
  background-color: #512200;
}
